/free/cgltf
/free/gles
/free/jpeg_turbo
/free/libktx
/free/libpng
/free/libtga
/free/shaderc
/free/spirv_cross
/free/vld_runtime
/free/zlib
/free/vulkan
/testCat/bin/art
/testCat/bin/driver
/testCat/bin/libEGL.dll
/testCat/bin/libGLESv2.dll
/testCat/bin/TextureConverter.dll
/testCat/bin/bin_*.7z
/cat/build
/cat/build64
/catVulkanRender/build
/catVulkanRender/build64
/testCat/art
/testCat/build64
/testCat/build32
/testCat/build
/testCat/imgui.ini
/tool/cmake
/tool/python
/cat/build64
/cat/build32
/cat/build
/catVulkanRender/build64
/catVulkanRender/build32
/catVulkanRender/build
/.vscode
/testCat/logger.txt
/free/gfx/build
/free/gfx/build64
/free/imgui/build
/free/imgui/build64
/free/scl/build
/free/scl/build64
/free/rapidyaml/build
/free/rapidyaml/build64
/test/testYaml/build
/test/testYaml/build64
/test/testYaml/bin
/test/testYaml/1.yaml
/test/testYaml/2.yaml
/testCat/scene_0.yaml
/testCat/scene_1.yaml
/free/libimg/build
/free/libimg/build64
/testCat/config.yaml
/free/glm/build
/free/glm/build64
/test/testMath/build
/test/testMath/bin
/testCat/bin
/testCat/bin64
/free/lib
/free/lib64
/lib
/lib64
/.vs
error.log
/test/testMath/build64
/test/testScl/build64
/test/testScl/build64_linux
/test/testScl/test/testScl
/tool/script/__pycache__
/test/testScl/bin64
/test/testMath/bin64
/test/testScl/test/testScl.log
/testCat/testCat.log
/free/scl/build64_linux/
/test/testMath/build64_linux/
/test/testYaml/build64_linux/
/testCat/build64_linux/

/catBase/build64
/catBase/lib64
/base/build64
/base/lib64
/test/testYaml/bin64
/test/testScl/test/memoryLog.txt
/build
build64_ninja
build64_visualstudio
/tool/bin
/.cache/clangd/index
/base/cat/yaml.cpp
/catui/build64
/catui/lib64
/test/testImgui/bin64
/test/testImgui/imgui.ini
