/free/cgltf
/free/gfx
/free/gles
/free/imgui
/free/jpeg_turbo
/free/libktx
/free/libpng
/free/libtga
/free/scl
/free/shaderc
/free/spirv_cross
/free/vld_runtime
/free/zlib
/testCat/bin/art
/testCat/bin/driver
/testCat/bin/libEGL.dll
/testCat/bin/libGLESv2.dll
/testCat/bin/TextureConverter.dll
/testCat/bin/bin_*.7z
/free/free_*.7z
/free/vulkan
/cat/build
/catVulkanRender/build
/testCat/art
/testCat/build64
/testCat/build32
/testCat/build
/testCat/imgui.ini
/tool/cmake
/tool/python
