/free/cgltf
/free/gles
/free/jpeg_turbo
/free/libktx
/free/libpng
/free/libtga
/free/shaderc
/free/spirv_cross
/free/vld_runtime
/free/zlib
/free/vulkan
/testCat/bin/art
/testCat/bin/driver
/testCat/bin/libEGL.dll
/testCat/bin/libGLESv2.dll
/testCat/bin/TextureConverter.dll
/testCat/bin/bin_*.7z
/cat/build
/catVulkanRender/build
/testCat/art
/testCat/build64
/testCat/build32
/testCat/build
/testCat/imgui.ini
/tool/cmake
/tool/python
/cat/build64
/cat/build32
/cat/build
/catVulkanRender/build64
/catVulkanRender/build32
/catVulkanRender/build
/.vscode
/testCat/logger.txt
/free/gfx/build
/free/imgui/build
/free/scl/build
/free/rapidyaml/build
/free/rapidyaml/build64
/test/testYaml/build
/test/testYaml/bin
/test/testYaml/1.yaml
/test/testYaml/2.yaml
/testCat/scene_0.yaml
/testCat/scene_1.yaml
